body{
    background-color: rgb(237, 249, 254);
}
.encabezado{
    margin: 2%;
}
.barra{
    font-family: 'Lato', sans-serif;
    margin: 0.8%;
    text-align: right;
}
.debug{
    outline: 2px solid red;
}
.button {
    background-color: rgba(0, 28, 85, 0.418);
    border: inherit;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: solid;
    float: right; 
    font-size: 14px;
    margin: 2px 1px;
    cursor: pointer;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px rgb(237, 249, 254);/*para que se vea como sombra*/
    border-radius: 5px;
}
    .button:hover {
    background-color: #265ae9a1;
    color: white;
    border-radius: 44px;
    }
h1{
    font-family: 'Shadows Into Light', cursive;
    color: rgb(0, 28, 85);
    background-color: transparent;
    text-align: center;
}
h1:hover{
    color: coral;
}
.ImagenPerfil{
    width: 75px;
    height: 75px;
    margin: 1%;
}
.nombre{
    font-family: 'Shadows Into Light', cursive;
    background-color: transparent;
    font-size: 1.5cm;
    text-align: center;
    color: rgb(0, 28, 85);
}
.barra{
    font-family: 'Lato', sans-serif;
    margin: 0.8%;
    text-align: right;
}
.parrafo1{
    font-family: 'Raleway', sans-serif;
    color: rgb(0, 28, 85);
    text-align: justify;
}
.enlace  a {
    float: left;
    display: block;
    color: rgb(0, 82, 245);
    text-align: center;
    padding: 14px ;
    text-decoration: none;
  }
  .enlace a:hover {
    background-color:	rgb(182, 202, 255);
    color: black;
  }
  .pie1{
    float: left;
    text-align:left ;
    font-family: 'Shadows Into Light', cursive;
    background-color: transparent;
    font-size: 115%;
    color: rgb(0, 28, 85);
}
.pie2{
    float: right;
    text-align: right;
    font-family: 'Shadows Into Light', cursive;
    background-color: transparent;
    font-size: 115%;
    color: rgb(0, 28, 85);
}
@media screen and (min-width: 480px){

}
